<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
    text-align: center;
}
</style>

{% if order_list %}
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Status</th>
            <th>Purchase Date</th>
            <th>Delivery Date</th>
        </tr>
        {% for order in order_list %}
        <tr>
            <td><a href="{% url 'sale_management:order_detail' order.id %}">{{ order.id }}</a></td>
            <td>{{ order.customer }}</td>
            <td>{{ order.employee }}</td>
            <td>{{ order.status_str }}</td>
            <td>{{ order.purchase_at }}</td>
            <td>{{ order.delivery_at }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No employee are available</h1>
{% endif %}